.pub-gird{
    $space:5px;
    @include clearfix;
    .grid-row{
        @include clearfix;
        margin-left: $space * -1;
        margin-right: $space * -1; 
    }
    .gird-col4{
        float: left;
        margin-top: $space;
        box-sizing: border-box;
        padding-left:$space;
        padding-right:$space; 
        width: 25%;
    }
    .gird-col2{
        float: left;
        box-sizing: border-box;
        padding-left:$space;
        padding-right:$space; 
        width: 50%;
    }
}